.hidden {
  display: none !important;
}

.annotation-section {
  transition:visibility 0.3s linear,opacity 0.3s linear;
  
}

.annotation-section #loader {
  display: none;
}

.annotation-section.loading #loader{
  display: inline-block;
}

.uploader {
  font-size: 1.25rem; /* 20 */
  background-color: white;
  position: relative;
  padding: 100px 20px;
  outline: 2px dashed #6d584f;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
					transition: outline-offset .15s ease-in-out, background-color .15s linear;

}
.uploader.uploaded {
  padding: 10px 20px;

}
.uploader.is-dragover {
  background-color: grey;
}
.uploader__input__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.uploader__input__file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.uploader__input__file + label:hover strong,
.uploader__input__file:focus + label strong,
.uploader__input__file.has-focus + label strong {
  color: #6d584f;
}
.uploader__input__file:focus + label,
.uploader__input__file.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
button.btn:hover {
  color: #6d584f;
}
button.btn:focus {
  color: #6d584f;
  box-shadow: none !important;
}

.uploader__output img {
  max-width: 500px;
  max-height: 500px;
}

.output.image {
  font-size: 5rem;
}

.output.video textarea {
  width: 100%;
  max-height: 534px;
}
