.uploader__output video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mediapipe__canvas__container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.mediapipe__canvas {
    max-width: 100%;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}