{% extends 'index.html' %} {% load static %} {% block headers %}
<link rel="stylesheet" href="{% static 'app/css/app.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <div class="row" align="center">
    <div class="col-sm">
      <div class="card">
        <img
          class="card-img-top"
          src="{% static 'app/images/photo.png' %}"
          alt="Card photo image"
        />
        <div class="card-body">
          <h5 class="card-title">Translate ASL images</h5>
          <h5 class="card-title text-warning">Under development</h5>

          <p class="card-text">Upload and translate image of ASL hand signs</p>
          <a
            href="{% url 'app:image' %}"
            class="btn btn btn-lg appBtn"
            role="button"
            >ANNOTATE IMAGE</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img
          class="card-img-top"
          src="{% static 'app/images/camera.png' %}"
          alt="Card camera image"
        />
        <div class="card-body">
          <h5 class="card-title">Translate using device camera</h5>
          <h5 class="card-title text-warning">Under development</h5>

          <p class="card-text">
            Use your camera to translate ASL hand signs to text (for now)
          </p>
          <a
            href="{% url 'app:camera' %}"
            class="btn btn btn-lg appBtn"
            role="button"
            >ANNOTATE CAMERA INPUT</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img
          class="card-img-top"
          src="{% static 'app/images/video.png' %}"
          alt="Card video image"
        />
        <div class="card-body">
          <h5 class="card-title">Translate ASL videos</h5>
          <h5 class="card-title text-warning">Under development</h5>

          <p class="card-text">Upload and translate image of ASL hand signs</p>
          <a
            href="{% url 'app:video' %}"
            class="btn btn-lg appBtn"
            role="button"
            >ANNOTATE VIDEO</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
