{% extends 'index.html' %} {% load static %} {% block headers %}
<link rel="stylesheet" href="{% static 'app/css/base_app.css' %}" />
<script src="{% static 'app/js/base_app.js' %}"></script>

{% endblock %}{% block content %}

<div class="container">
  <div class="col">{% block app_details %} {% endblock %}</div>
  <div class="row content">
    <div class="col content-upload-section text-center">
      <h2>Upload</h2>
      {% block upload_form %} {% endblock %}
    </div>

    <div class="col annotation-section text-center">
      <h1>Annotation</h1>
      <div class="spinner-border text-primary" role="status" id="loader">
        <span class="sr-only">Loading...</span>
      </div>
      {% block output_block %} {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
