{% extends 'index.html' %} 
{% load static %} 

{% block headers %}
<link rel="stylesheet" href="{% static 'app/css/base_app.css' %}" />
<script src="{% static 'app/js/lib.js' %}"></script>
<script src="{% static 'app/js/base_app.js' %}"></script>
{% block extra_headers %}
{% endblock %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="col">{% block app_details %} {% endblock %}</div>
  <div class="row content">
    <div class="col-6 content-upload-section text-center">
      <h1>Input</h1>
      {% block upload_form %} {% endblock %}
    </div>

    <div class="col-6 annotation-section text-center hidden">
      <h1>Annotation</h1>
      <div class="spinner-border text-primary" role="status" id="loader">
        <span class="visually-hidden">Loading...</span>
      </div>
      {% block output_block %} {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
