{% extends 'app/base_app.html' %}
{% load static %} 

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'app/css/base_app.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/camera_app.css' %}" />
<script src="{% static 'app/js/camera_app.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands@0.1/hands.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.3/drawing_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3/camera_utils.js" crossorigin="anonymous"></script>
{% endblock %}

{% block app_details %}

<div class="row justify-content-center heading"><h1>Convert image using camera</h1></div>
<div class="row justify-content-center subheading">
  <p class="lead">Use camera to input a ASL hand sign and convert it!</p>
</div>
{% endblock %} {% block upload_form %}
<form
  id="file-upload-form"
  class="uploader"
  method="POST"
  action="{% url 'model:annotate_image'%}"
>
  {% csrf_token %}
  <div class="uploader__output hidden">
      <video></video>
      <div class="mediapipe__canvas__container">
        <canvas class="mediapipe__canvas" width="600" height="350"></canvas>
      </div>
      <button type="button" class="btn" id="capBtn">Open camera feed</button>
  </div>
  <div class="uploader__input">
    <button type="button" class="btn" id="cameraBtn">Open camera feed</button>
  </div>
</form>
{% endblock %} 
{% block output_block %}
<p class="output image"></p>
{% endblock %}
this.blur();