{% extends 'app/base_app.html' %} {% load static %} {% block headers %}
<link rel="stylesheet" href="{% static 'app/css/base_app.css' %}" />
<script src="{% static 'app/js/base_app.js' %}"></script>

{% endblock %}{% block app_details %}
<div class="row justify-content-center heading"><h1>Convert image</h1></div>
<div class="row justify-content-center subheading">
  <p class="lead">Convert any image containing ASL hand sign to annotation</p>
</div>
{% endblock %} {% block upload_form %}
<form id="file-upload-form" class="uploader" method="POST">
  {% csrf_token %}
  <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden" />
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a image or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
{% endblock %} {% block output_block %}
<p class="output image"></p>
{% endblock %}
