{% extends 'app/base_app.html' %}
{% load static %} 

{% block extra_headers %}
<script src="{% static 'app/js/image_app.js' %}"></script>
<link rel="stylesheet" href="{% static 'app/css/image_app.css' %}" />
{% endblock %}

{% block app_details %}

<div class="row justify-content-center heading"><h1>Convert image</h1></div>
<div class="row justify-content-center subheading">
  <p class="lead">Convert any image containing ASL hand sign to annotation</p>
</div>
{% endblock %} {% block upload_form %}
<form
  id="file-upload-form"
  class="uploader"
  method="POST"
  action="{% url 'model:annotate_image'%}"
>
  {% csrf_token %}
  <div class="uploader__output hidden">
    <img class="uploader__output__image" src="" alt="Uploaded image">
    <p></p>
  </div>
  <div class="uploader__input">
    <input id="file" class="uploader__input__file" type="file" name="image" />
    <label for="file"><strong>Choose an image</strong><span> or drag it here</span>.</label>
  </div>
</form>
{% endblock %} {% block output_block %}
<p class="output image"></p>
{% endblock %}
