{% extends 'app/base_app.html' %}
{% load static %} 

{% block extra_headers %}
<script src="{% static 'app/js/video_app.js' %}"></script>
{% endblock %}

{% block app_details %}

<div class="row justify-content-center heading"><h1>Convert video to manuscript</h1></div>
<div class="row justify-content-center subheading">
  <p class="lead">Convert any video containing ASL hand sign to annotations</p>
</div>
{% endblock %} {% block upload_form %}
<form
  id="file-upload-form"
  class="uploader"
  method="POST"
  action="{% url 'model:annotate_video'%}"
>
  {% csrf_token %}
  <div class="uploader__output hidden">
    <video class="uploader__output__video" controls autoplay></video>
    <p></p>
  </div>
  <div class="uploader__input">
    <input id="file" class="uploader__input__file" type="file" name="video" />
    <label for="file"><strong>Choose a video</strong><span> or drag it here</span>.</label>
  </div>
</form>
{% endblock %} {% block output_block %}
<div class="output video">
  <textarea rows="15" class="hidden"></textarea>
</div>
{% endblock %}
